<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label>
            Planeta:
            <input type="text" name="name">
        </label>
        <label>
            Tipo:
            <input type="text" name="type">
        </label>
        <label>
            Velocidad de orbita:
            <input type="text" name="rotvel">
        </label>
        <label>
            Diametro:
            <input type="text" name="diam">
        </label>
        <label>
            Temperatura de superficie:
            <input type="text" name="temp">
        </label>
        <label>
            Masa:
            <input type="text" name="mass">
        </label>
        <label>
            Densidad:
            <input type="text" name="density">
        </label>
        <label>
            Descripcion:
            <input type="text" name="description">
        </label>
        <input type="submit" value="Añadir">
    </form>


    <script src="/javascripts/addPlanet.js"></script>
</body>
</html>